@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
      url('../fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teko';
  src: url('../fonts/Teko-Bold.woff2') format('woff2'),
      url('../fonts/Teko-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
      url('../fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Teko';
  src: url('../fonts/Teko-Regular.woff2') format('woff2'),
      url('../fonts/Teko-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teko';
  src: url('../fonts/Teko-Medium.woff2') format('woff2'),
      url('../fonts/Teko-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teko';
  src: url('../fonts/Teko-SemiBold.woff2') format('woff2'),
      url('../fonts/Teko-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans.woff2") format("woff2"),
    url("../fonts/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --Black: #1a1a1a;
  --fadeBrown:#757575;
  --grey: #666666;
  --green: #91d849;
  --parrotGreen: #2ecc71;
  --seeGreen:#139fb1;
  --lightGrey: #f5f5f5;
  --skyblue: #0c71c3;
  --BGrey: #eef1f8;
}

* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: normal;
  line-height: 28px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.bannerFont{
  font-family: 'Playfair Display';
  font-weight: normal;
  font-style: normal;
  color: var(--Black);
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 1.3;
}

.display-3 {
  color: var(--skyblue);
  font-family: 'Teko', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 600;
  font-size: 54px;
  text-align: center;
  margin-bottom: 28px;
}

.secH {
  color: var(--skyblue);
  font-family: 'Teko', Helvetica, Arial, Lucida, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 30px;
}

.therdH {
  font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
  font-size: 25px;
  color: var(--skyblue);
  line-height: 1.4em;
  font-weight: bold;
  font-style: normal;
}

.fourthH {
  text-align: center;
  font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 28.8px;
}
.fifthH {
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}

/* header css start */
.miniheader {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--green);
}

.miniheader .col-auto a {
  font-family: "Open Sans";
  font-weight: normal;
  color: var(--fadeBrown);
  font-size: 15px;
  font-weight: 600;
}

.miniheader .col-auto a:hover {
  color: var(--skyblue);
}
.miniheader .col-auto a i {
  margin-right: 10px;
  font-size: 18px;
  vertical-align: middle;
}

.miniheader .container > .row {
  justify-content: space-between;
}

/* Initial header styling */
#main-header {
  transition: all 0.5s ease;
  z-index: 1055;
}

/* Hidden when out of view */
.sticky-header {
  position: fixed;
  top: -112.48px; /* Hidden initially */
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: top 0.5s ease; /* Slide down animation */
  animation: slideDown 0.5s ease-in-out both;
}
@keyframes slideDown {
  0% {
    position: fixed;
    top: -112.48px;
  }
  100% {
    position: fixed;
    top: 0;
  }
}
.headerAnimate {
  animation: slideUp 0.5s ease-in-out both;
}

@keyframes slideUp {
  0% {
    top: 50.48px;
    position: relative;
  }
  100% {
    top: 0px;
  }
}
.sticky-header.visible {
  top: 0; /* Slide into view */
}

.navbar-brand {
  margin-right: 45px;
  width: 16rem;
}

.dropdown-menu li {
  width: 260px;
  padding: 0 20px;
}

.dropdown-toggle::after {
  margin-left: 0.5em;
  font-size: 12px;
  vertical-align: middle;
  display: inline-block;
  content: "\f107";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  border: none;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  padding: 20px 0;
  border-radius: 0;
  border: none;
  border-top: 3px solid var(--Black);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.dropdown-item {
  padding: 15px 20px;
  padding-right: 28px;
  border-radius: 0;
  border-bottom: none;
  text-wrap: wrap;
  font-family: "Open Sans";
  font-weight: 600;
  text-transform: capitalize;
  line-height: 14px;
  color: var(--Black);
}
.nav-link {
  color: var(--Black);
  font-weight: 600;
  font-size: 16px;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: var(--Black);
}
.nav-link:focus,
.nav-link:hover {
  color: var(--Black);
  opacity: 0.7;
}
.bg-light {
  background-color:#ffffff !important;
}

.navbar-nav {
  gap: 20px;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: var(--darkPerple);
  background-color: rgba(0, 0, 0, 0.03);
  opacity: 0.7;
}

.navbar-nav .btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: transparent;
}
/* header css end */

/* banner css start */

#ca1.owl-carousel {
  overflow-x: hidden;
}
#ca1.owl-carousel .item {
  padding: 130px 70px;
  border-radius: 3px 3px 3px 3px;
  overflow: hidden;
  border-style: solid;
  border-width: 10px ;
  border-color: #cdecb1;
}

.Banner .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  pointer-events: none;
}
.Banner .owl-nav button {
  pointer-events: initial;
  height: 50px;
  width: 50px;
  background-color: #ffffff !important;
  opacity: 1;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.17);
  border: 0px solid rgba(0, 0, 0, 1);
  border-radius: 99px;
  line-height: 1.25;
  color: var(--seeGreen) !important;
}
.Banner .owl-carousel .owl-nav button.owl-prev {
  font-size: 55px;
  transition:  background-color 0.3s ease-in-out;
}
.Banner .owl-carousel .owl-nav button.owl-next {
  font-size: 55px;
  transition:  background-color 0.3s ease-in-out;
}
.Banner .owl-carousel .owl-nav button.owl-next:hover {
  background-color: var(--seeGreen) !important;
  color: white !important;
}
.Banner .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: var(--seeGreen) !important;
  color: white !important;
}
.Banner .owl-nav .owl-prev span{
  transform: translateY(-7px);
  transition:  color 0.3s ease-in-out;
}
.Banner .owl-nav .owl-next span {
  transform: translateY(-7px);
  transition:  color 0.3s ease-in-out;
}

.container-fluid {
  max-width: 1780px;
}

.Banner .owl-dots {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 0px 10px 0px RGBA(0, 0, 0, 0.16);
}

.Banner .owl-dots {
  position: absolute;
  bottom: 30px;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
}
.Banner .owl-dots button.owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  display: inline-block;
  background: var(--grey);
  margin: 4px 0px;
}
.Banner .owl-dots button.owl-dot.active {
  background-color: var(--seeGreen);
}
.Banner .owl-dots button.owl-dot:focus {
  outline: none;
}

#ca1.owl-carousel .item1 {
  background: url("../image/BannerImg.jpeg")
    no-repeat top;
  background-size: cover;
}
#ca1.owl-carousel .item2 {
  background: url("../image/BannerImg2.jpeg")
    no-repeat center;
  background-size: cover;
}
.bannerCard {
  margin-left: auto;
}

.bannertext1 {
  background-color: #ffffff;
  padding: 55px 48px !important;
  color: var(--grey);
  max-width: 450px;
}

.bannertext1 p {
  margin-bottom: 0;
  text-align: center;
}
.bannertext1 .bannerFont{
  color: var(--Black);
}



.btnOutline {
  font-family: 'Roboto', 'Arial';
  color: #ffffff;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: var(--parrotGreen);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.17);
  line-height: 1.5;
  text-align: center;
  margin-top: 25px;
  letter-spacing: 1px;
  font-weight: bold;
}

.btnOutline i {
  position: relative;
  transform: translateX(-20px);
  margin-left: 4px;
  width: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.btnOutline:hover {
  color: #ffffff;
}
.btnOutline:hover i {
  width: 12.6px;
  transform: translateX(0px);
  opacity: 1;
}
.btnOutline:hover{
  background-color: var(--seeGreen);
}

#ca1.owl-carousel .item2 .bannerCard {
  margin-right: auto;
  margin-left: unset;
}

.designerBorder{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.designerBorder img{
width: 74px !important;
}

/* banner css end */

.defaultPadding {
  padding: 50px 0;
}
.Servicecards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid transparent;
}
.Servicecards img{
  width: 45%;
  margin-bottom: 30px;
}
.Servicecards .therdH{
  font-size: 16px;
}

.absoluteLink {
position: absolute;
height: 100%;
width: 100%;
}
.Servicecards:hover{
  border: 2px solid var(--grey);
}
.bestPestControlServices .display-3{
  margin-left: auto;
  margin-right: auto;
}


/* Why Choose Us section start */

.whywChooseUs .secH{
  text-align: center;
  margin-bottom: 40px;
}
.whywChooseUs .squareImg {
  height: 60px;
  width: 60px;
  border-radius: 0;
  border: none;
  margin: auto ;
  margin-bottom: 30px;
}
.whywChooseUs .cardVerticle {
  padding: 40px 20px;
  border: 2px solid var(--green);
  transition: border 0.3s ease-in-out;
  background-color: #ffffff;
  height: 100%;
}
.whywChooseUs .cardVerticle:hover {
  border: 2px solid var(--skyblue);
}
/* Why Choose Us section end */


/* Get in Touch section start */
.pestControlImg{
  padding-right: 0;
  border-radius: 10px 800px 800px 10px;
  overflow: hidden;
}

/* Get in Touch section End */

/* Pest Control Services section start */
.pestControlServices .btnOutline {
  display: table;
  margin: auto;
  margin-top: 80px;
  border-radius: 0px;
  background-color: var(--green);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.17);
}

.pestControlServices .btnOutline:hover{
  background-color: var(--green);
}
/* Pest Control Services section end */


/* Our Testimonials section start */
.ourTestimonials .secH{
  text-align: center;
}

.testimonialCard {
  position: relative;
  padding: 30px;
}

.userAvatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.userAvatar img {
  position: relative;
  z-index: -1;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}

.testimonialCard .row {
  justify-content: space-between;
  isolation: isolate;
}
.userName {
  display: block;
  margin-top: 32px;
  font-size: 14px;
  font-weight: 700;
}

/* Our Testimonials section end */



/* Footer section start  */

.footer {
  background: linear-gradient(
    180deg,
    rgba(76, 72, 227, 0.96) 0%,
    rgba(73, 108, 220, 0.93) 100%
  );
  background-color: #fff;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.footer.defaultPadding {
  padding: 80px 0;
}
.footer .footer-brand {
  display: inline-block;
  width: 60%;
  min-width: 150px;
  margin-bottom: 30px;
}
.footer .secH {
  color: #ffffff;
  text-align: left;
  margin-bottom: 32px;
}
.footer .container > .row {
  justify-content: space-between;
}
.exploreLinks a i {
  margin-right: 20px;
  font-size: 18px;
  color: var(--green);
}
.footer ul {
  list-style: none;
  padding: 0;
}
.footer ul li {
  margin-bottom: 10px;
}
.footer ul li a {
  color: #ffffff;
  text-decoration: none;
}
.footer ul li a:hover {
  color: var(--green);
}
.footer .contact-info i {
  color: var(--green);
  font-size: 20px;
  margin-right: 10px;
}
.locationLink {
  display: inline-block;
  position: relative;
  padding-left: 22px;
}
.locationLink i {
  position: absolute;
  left: 0;
  top: 6px;
}
.footer .social-icons {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.footer .social-icons a {
  display: flex;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 17px;
  margin-right: 15px;
}
.footer .social-icons a:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.footer .social-icons .facebook {
  background-color: #0c71c3;
}
.footer .social-icons .instagram {
  background-color: #ea2c59;
}
.footer .social-icons .whatsapp {
  background-color: #25d366;
}

.copyrightSection {
  background-color: var(--blue);
  padding: 15px 12px;
}

.copyrightSection p {
  margin-bottom: 0;
  color: #ffffff;
}

